main {
    margin: 0;
    padding: 0;
    font-size: 0;
}
main .portrait {
    width: 25vw;
    height: 600px;
    object-fit: cover;
}

main .landscape {
    width: 50vw;
    height: 300px;
    object-fit: cover;
}

.none {
    width: 24vw;
    height: auto;
}
