 /*
 body {
     padding: 0;
     margin: 0;
 }

 .video {
    width: 640;
    height: 480;
    float: right;
    position: relative;
}


.main {
    padding: 55px 10px 0 10px;
}

#splash {
    height: 40vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(65, 7, 109);
    overflow: hidden;
}

#splash img {
    position: relative;
    max-width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -350px;
    z-index: 1;
}

.navDefault {
    position: sticky;
}
*/
body {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.navbar-header {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    padding-left: 50px;
}

.landing-container {
    height: 100vh;
    background: url("styles/All Band 01.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    
    position: relative;
}

.quotes-container {
    background-color: white;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: "Josefin Sans", sans-serif;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: black;
}