body {
    font-family: "Roboto", sans-serif;
}

#base {
    background-color: #5d90b7;
    padding-top: 53px;
}

/*Navbar*/

.navbar {
    background-color: black;
    border-color: transparent;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    padding-left: 50px;
    color: white !important;
    text-align: left;
}

.navbar .dropdown {
    padding-left: 20px;
}

.font-white {
    color: white !important;
}

.dropdown {
    padding-right: 0;
}

.dropdown-nav {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-toggle {
    padding-bottom: 15px;
}

.open .dropdown-toggle{
    color: #333 !important;
}

/* /Navbar */