html {
    background-color: #beeeef;
}
header img{
    width: 100%;
    height: 200px;
    transform: scale(25%);
    padding: 0;
    margin: 0;
}
nav {
    font-family: "Helvetica",sans-serif;
    position: fixed;
    width: 100%;
    background-image: ""
}

nav ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0px;
}

nav li a:hover {
    background-color: #ffffff;
    color: #4a4a4f;
}

footer {
    padding: 0;
    margin: 0;
}
footer ul {
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}